html,
body {
    height: 100%;
    width: 100%;
    overflow: auto;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right top, #e78feb, #e89cee, #e9a8f1, #eab3f4, #ecbff6);
}

.container {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cube,
.cube .sides .side {
    position: absolute;
    width: 200px;
    height: 200px;
}

.sides {
    user-select: none;
    font-size: 1.1rem;
    transform-style: preserve-3d;
    transform-origin: 100px 100px;
}

.side {
    opacity: 0.75;
    background-image: radial-gradient(circle, #78d6ff, #8ad5ff, #9bd4ff, #aad4ff, #b7d3ff) !important;
    border: 2px solid #222;
}

.front {
    transform: rotateY(0deg) translateZ(100px);
}
.back {
    transform: rotateY(-180deg) translateZ(100px);
}
.left {
    transform: rotateY(-90deg) translateZ(100px);
}
.right {
    transform: rotateY(90deg) translateZ(100px);
}
.top {
    transform: rotateX(90deg) translateZ(100px);
}
.bottom {
    transform: rotateX(-90deg) translateZ(100px);
}
